@import "commons/style.css";

/* HEADER */
header {
    position: relative;
    background: var(--color-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    height: fit-content;
}

#logo, #search, #menu {
    height: 115px;
}

/* LOGO */
#logo {
    width: 29%;
    min-width: 250px;
}

#logo img {
    height: auto;
    width: auto;
}

/* PESQUISA */
#search {
    width: 39%;
}

#search input {
    width: 100%;
}

/* MENU DE NAVEGAÇÃO */
#menu {
    left: 0;
    top: 0;
    width: 29%;
}

nav li {
    font-size: large;
    color: var(--font-dark);
    display: inline;
    width: 100%;
    padding: 0 15px;
}

/* CONTEUDO */
main {
    display: inline-block;
    width: 60%;
}

/* RESPONSIVIDADE */

/* tablets */
@media only screen and (max-width: 1300px) {

    
}

/* smartphone */
@media only screen and (max-width: 800px) {
    /* LOGO */
    #logo,
    #search,
    #menu {
        width: 100%;
    }

    #search>div,
    #menu>nav {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #menu, #search, #logo {
        margin: 30px 0;
        height: fit-content;
    }

    nav li {
        display: block;
    }
}