@import "../../commons/style.css";
@import "../../commons/header.css";

body{
    background-color: var(--background);
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CONTEUDO PRINCIPAL */
.contentDesapega{
    width: 90%;
    margin: 50px auto;
    height: fit-content;
}

/* CARD */

.card-desapega{
    position: relative;
    height: fit-content;
    width: 360px;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 5px;

    display: inline-block;
    margin: 1%;

    background-color: rgba(255, 255, 255, 0.500);
}

/* CARD ANCHOR  */
.cardLink, .cardLink:visited{
    text-decoration: none;
    color: var(--font-dark);
}

/* CARD HEADER */
.card-product {
    height: 180px;
}
.card-product img, .card-product .card-text{
    display: inline-block;
    margin: 10px 5px 5px 10px;
    width: 45%;
}

/* CARD TITULO E PRECO */
.card-product .card-text{
    vertical-align: top;
}
.card-text h1{
    font-size: large;
}
.card-text h2{
    color: #189D37;
    font-size: medium;
}

/* descricao produto */
.card-description{
    margin: 0px 0px 10px;
    padding: 5px 10px;
    height: 70px;
    overflow-y: hidden;
    box-shadow: 0 8px 20px -15px var(--font-dark);
}

.delButton, .editButton{
    position: absolute;
    top: -10px;
    border-radius: 80%;
    border: none;
    cursor: pointer;
}

.delButton {
    background: #DB1D00;
    color: white;
    right: -15px;
    visibility: hidden;
}

.delButton i, .editButton i{
    padding: 7px;
}
.delButton:hover{
    background-color: #b91900;
}

.editButton{
    background: #dbb300;
    color: black;
    left: 15px;
}

.editButton:hover{
    background: #967a00;
}


/* RESPONSIVIDADE */

/* tablet */
@media only screen and (max-width: 1300px) {

    .contentDesapega{
        width: 90%;
    }
    .card-desapega, .card-desapega:visited{
        width: 40%;
        min-width: 345px;
        margin: 5px;
    }
    
}

/* smartphone */
@media only screen and (max-width: 800px) {
    .contentDesapega{
        width: 90%;
    }

    .card-desapega, .card-desapega:visited{
        width: fit-content;
    }
   
}