:root {
    --color-secondary: #5DBDEA;
    --color-primary: #FFE200;
    --background: #EDEDED;
    --font-light: #C8C8C8;
    --font-dark: #707070;
    --shadow: #e0e0e0;
}

/* Corpo da página */
html {
    min-height: 100%;
}

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    background: var(--background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* INPUT */
input {
    padding: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 100%;
}

input::placeholder {
    color: var(--font-light);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* COMMON CLASSES */
.page-margin {
    width: 90%;
}

.container {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    margin: 0 auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.side-by-side {
    display: inline-block;
}

.border-test {
    border: var(--font-dark) solid 1px;
}

.content {
    width: fit-content;
    min-width: 35%;
    overflow: auto;
    margin: 50px auto;
    min-height: 400px;
    box-shadow: 0px 3px 6px #e0e0e0;
    background-color: #fff;
    height: fit-content;
}

.bt_primary {
    background-color: #5DBDEA;
    color: white;
    text-align: center;
    height: 40px;
    border: 0px;
    cursor: pointer;
    width: 100%;
}

.bt_secondary {
    border: 1px solid #5DBDEA;
    background-color: white;
    color: #5DBDEA;
    text-align: center;
    height: 40px;
    cursor: pointer;
    width: 100%;
}

.text_light {
    color: var(--font-light);
}


/* margins */
.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.mh30 {
    margin: 0 30px;
}

.mv30 {
    margin: 30px 0;
}

.m30 {
    margin: 30px;
}