#priceInput {
    padding: 2px;
    display: none;
    border-radius: 5px;
    margin-top: 2px;

}

.productDetail p{
    overflow-y: scroll;
}

.productDetail span{
    font-size: x-small;
    color: #C8C8C8;
}